# Using Python 3.6.4

Flask==0.12.2
Flask-JWT==0.3.2
Flask-RESTful==0.3.6
pymongo==3.6.0
Flask-PyMongo==0.5.1
gunicorn==19.7.1

# If you want to build the documentation please install mkdocks
# mkdocs==0.17.2
# mkdocs-material==2.6.0
